<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos - Greenside</title>
        <link rel="icon" type="image/x-icon" href="logo2.png"> <!-- Corrija o caminho do ícone -->
        <link rel="stylesheet" href="planos.css"> <!-- Corrija o caminho do CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="logo">
                 <img src="logoMain.png" alt="Logo Greenside">
            </div>
            <nav>
                 <div class="navbarTop">
                     <div class="navbarTop_Links">
                         <ul class="navbarTop_Links_Ul">
                             <li><a href="#servicos">Serviços</a></li>
                             <li><a href="#planos">Planos</a></li>
                             <li><a href="#atendimento">Canal de Atendimento</a></li>
                             <li><a href="/log-in"><img src="userIcon.svg" alt="Usuário"></a></li>
                         </ul>
                     </div>
                 </div>
                 <div class="navbarBottom">
                     <div class="searchbar">
                         <img src="searchIcon.svg" alt="Pesquisar">
                         <input type="text" name="searchbar" id="searchbar" placeholder="Pesquisar...">
                     </div>
                     <img src="menuIcon.svg" alt="Menu" class="menuIcon">
                 </div>
            </nav>
         </header>
         <main>
            <div class="content">
              <h1 class="content_Title">Planos Greenside</h1>
              <p class="content_Text">A Clínica Greenside possui atualmente três linhas de planos: Econômico, Tradicional e Premium. Para cada tipo de cliente, há um plano adequado. Existem planos mais econômicos e planos mais completos, confira os detalhes abaixo:</p>
              <div class="content_Table">
                  <table>
                      <tr> <!-- 1ª linha -->
                          <th class="content_Table_Col1">
                              <p style="font-size: 18px;">Compare os planos</p><br>
                              <p class="content_Table_Col1_Text">E faça parte da família Greenside hoje mesmo</p>
                          </th>
                          <th>
                              <p class="th_Title">ECONÔMICO</p><br>
                              <p class="th_Subtitle">R$ 50<span class="th_Subtitle_Span"> /Mês</span></p><br>
                              <a href="/"><button class="th_Btn">Escolha Esse Plano</button></a>
                          </th>
                          <th>
                              <p class="th_Title">TRADICIONAL</p><br>
                              <p class="th_Subtitle">R$ 100<span class="th_Subtitle_Span"> /Mês</span></p><br>
                              <a href="/"><button class="th_Btn">Escolha Esse Plano</button></a>
                          </th>
                          <th>
                              <p class="th_Title">PREMIUM</p><br>
                              <p class="th_Subtitle">R$ 200<span class="th_Subtitle_Span"> /Mês</span></p><br>
                              <a href="/"><button class="th_Btn">Escolha Esse Plano</button></a>
                          </th>
                      </tr>
                      <tr> <!-- 1ª linha -->
                          <td class="content_Table_Col1_Text">Consultas médicas em clínicas e hospitais credenciados</td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                      </tr>
                      <tr> <!-- 2ª linha -->
                          <td class="content_Table_Col1_Text">Cobertura ampla para exames, procedimentos, cirurgias e tratamentos especiais</td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                      </tr>
                      <tr> <!-- 3ª linha -->
                          <td class="content_Table_Col1_Text">Internação em quarto privativo em caso de emergência</td>
                          <td></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                      </tr>
                      <tr> <!-- 4ª linha -->
                          <td class="content_Table_Col1_Text">Atendimento em pronto-socorro 24 horas</td>
                          <td></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                      </tr>
                      <tr> <!-- 5ª linha -->
                          <td class="content_Table_Col1_Text">Cobertura para tratamentos odontológicos e psicológicos</td>
                          <td></td>
                          <td></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                      </tr>
                      <tr> <!-- 6ª linha -->
                          <td class="content_Table_Col1_Text">Atendimento em domicílio e transporte de emergência em ambulância</td>
                          <td></td>
                          <td></td>
                          <td class="content_Table_Col1_Img"><img src="check-icon.svg" alt="Benefício confirmado"></td>
                      </tr>
                  </table>
              </div>
           </div>
       </main>
         <footer>
            <section class="footer1">
                <div class="footer_links">
                    <p class="footer_title">Links</p>
                    <p class="footer_link"><a href="/">Home</a></p>
                    <p class="footer_link"><a href="/planos">Planos</a></p>
                    <p class="footer_link"><a href="#servicos">Serviços</a></p>
                    <p class="footer_link"><a href="/sobre">Sobre Nós</a></p>
                    <p class="footer_link"><a href="./ajuda.html">Ajuda</a></p>
                    <p class="footer_link"><a href="#atendimento">Canal de Atendimento</a></p>
                </div>
                <div class="footer_socials">
                    <p>Siga nossas redes sociais:</p>
                    <div style="display: flex;">
                        <div class="footer_socials_icons">
                            <div class="footer_socials_icon">
                                <img src="phoneIcon.svg" alt="Telefone" class="icon">
                                <p class="footer_link"><a href="tel:9842886144">984-288-6144</a></p>
                            </div>
                            <div class="footer_socials_icon">
                                <img src="instagramIcon.svg" alt="Instagram" class="icon">
                                <p class="footer_link"><a href="https://instagram.com">@greenside1120</a></p>
                            </div>
                        </div>
                        <div class="footer_socials_icons">
                            <div class="footer_socials_icon">
                                <img src="phoneIcon.svg" alt="Telefone" class="icon">
                                <p class="footer_link"><a href="tel:9143072504">914-307-2504</a></p>
                            </div>
                            <div class="footer_socials_icon">
                                <img src="facebookIcon.svg" alt="Facebook" class="icon">
                                <p class="footer_link"><a href="https://facebook.com">@greenside1</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_logo">
                    <img src="logo3.png" alt="Logo Greenside">
                </div>
            </section>
            <section class="footer2">
                <p>Copyright 2001-2023 Greenside Brasil - Todos os direitos reservados</p>
            </section>
        </footer>
</body>
</html>