* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
}

main {
    display: flex;
    height: 100%;
}

a {
    color: white;
}



/* LEFT */
.left {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-top: 25px;
}

.left_img {
    display: flex;
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
}


/* RIGHT */
.right {
    width: 50%;
    padding-top: 200px;
    float: right;
    background-color: #075744;
    color: white;
}

.right_title {
    font-size: 2em;
    font-weight: 700;
}

.right_subtitle {
    font-size: 0.8em;
}

.right_form {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
}

.right_form input {
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    
}

.right_form_span_text {
    font-size: 0.8em;
    text-align: end;
}

.label {
    text-align: start;
}

.input {
    width: 100%;
    padding: 5px 0px 5px 7px;
    margin: 5px 0px 7px 0px;
    background-color: white;
}

.btn {
    text-align: center;
    width: 100%;
    color: white;
    background-color: #079404;
    font-size: 1.5em;
    font-weight: 900;
    padding: 7px 10px 7px 10px;
    margin: 25px 0px 10px 0px;
}