* {
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;
}

header {
    display: flex;
    padding-left: 25px;
    padding-top: 20px;
    text-align: center;
    float: left;
    margin-bottom: 75px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

main {
    padding-top: 225px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* HEADER */
.logo {
    padding-top: 35px;
}


/* NAVBAR */
.navbarTop {
    width: max-content;
    padding-left: 250px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9b3;
}

.navbarTop_Links {
    text-align: center;
    text-transform: uppercase;
}

.navbarTop_Links_Ul {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    float: right;
    justify-content: space-evenly;
}

.navbarTop_Links_Ul li {
    margin-right: 25px;
    color: #979797;
}

.navbarTop_Links_Ul a {
    color: #979797;
}

.navbarTop_Links_Ul a:hover {
    color: green;
    font-weight: bold;
}

.navbarTop_Links_Ul img {
    max-width: 50px;
    min-width: 50px;
}

.navbarBottom {
    display: flex;
    margin-top: 25px;
    padding-left: 35px;
}

.searchbar {
    display: flex;
    background-color: #d9d9d940;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding-left: 15px;

}

.searchbar input {
    background-color: #d9d9d900;
    border: none;
    margin-left: 15px;
    width: 575px;
}

.searchbar img {
    max-width: 17px;
    min-width: 17px;
}

.menuIcon {
    margin-left: 30px;
}


/* CONTENT */
.content {
    padding: 25px 0px 25px 0px;
}

.content_Title {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #079404;
    padding-left: 20px;
}

.content_Text {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


/* TABLE */
table, th, td {
    border: 1px solid #E6E9F5;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 20px 10px 20px 10px;
}

.content_Table {
    padding: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_Table_Col1 {
    text-align: left;
    max-width: fit-content;
    font-size: 14px; 
}

.content_Table_Col1_Text {
    font-size: 14px;
    font-weight: 400;
}

.content_Table_Col1_Img {
    text-align: center;
}

.th_Title {
    font-size: 20px;
}

.th_Subtitle {
    font-size: 18px;
}

.th_Subtitle_Span {
    font-size: 14px;
    font-weight: 500;
}

.th_Btn {
    border: 3px solid #079404;
    color: #079404;
    font-weight: bold;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.th_Btn:hover {
    color: white;
    background-color: #079404;
    transition-duration: 0.4s;
}


/* FOOTER */
footer {
    background-color: #079404;
    padding: 20px;
    color: white;
    font-weight: 500;
    list-style: none;
}

.footer1 {
    display: flex;
    padding-top: 10px;
}

.footer_title {
    font-weight: 300;
    text-decoration: underline;
}

.footer_link {
    margin-top: 10px;
}

footer a {
    color: white;
    font-weight: 600;
}

footer a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.footer_socials {
    margin-left: 100px;
}

.footer_socials p {
    font-weight: 300;
    text-decoration: underline;
}

.footer_socials_icons {
    margin-right: 15px;
}

.footer_socials_icon {
    margin-top: 15px;
    display: flex;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px
}

.footer_logo {
    margin-left: 400px;
    margin-top: -25px;
}

.footer_logo img {
    width: 150px;
    height: 165px;
}

.footer2 {
    margin-top: 15px;
    border-top: 1px solid white;
    padding-top: 15px;
    text-align: center;
}